body{
    background-color: whitesmoke;
}

#main {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(40px, auto);
}

#heading >h1{
    margin: 5px 0px 0px 0px;
    color: #00cd66;
    font-family: 'Prata', serif;
}
.logo{
    width: 7%;
    height: auto;
}
#para1{
    /*font-family: 'Tangerine', cursive;*/
    font-family: 'Satisfy', cursive;
    font-size: 20px;
    margin: -5px 0px 0px 0px;
    color: darkgreen;

}

#login{
    display: grid;
    justify-items: end;
}
#login > a >.login_btn{
    height: 97px;
    line-height: 97px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color: darkgreen;
    background: transparent;
    border: transparent;
    outline: none;
}
#login > a >.login_btn:hover{
    background: darkgreen;
    color: white;
    cursor: pointer;
}


#all {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(40px, auto);
    grid-gap: .1em !important;
    background-color: whitesmoke !important;
    padding: 0em !important;
}
#all > div{
    background-color: #ddd;
    padding: 1em;
}

#all > .form_fill{
    text-align: center;
    grid-column: 1/3;
}
.form_fill >h1{
    font-family: 'Raleway', sans-serif;
}
.box2 {
    width: 93%;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    border: transparent;
    outline: none;
    margin: 5px;
    padding: 3px;
}
.box3 {
    width: 93%;
    height: 150px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    border: transparent;
    outline: none;
    margin: 5px;
    padding: 3px;
}

.sub_btn{
    width: 50%;
    background-color: #df293a;
    height: 45px;
    line-height: 45px;
    color: white;
    border: transparent;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    outline: none;
    padding: 3px;
    margin: 5px;
}
.sub_btn:hover{
    cursor: pointer;
}

#sidebar_div{
    grid-column: 3;
}
#sidebar_div > img{
    width: 100%;
    height: 100%;
}

